*, *:before, *:after {
  margin: 0
  padding: 0
  list-style none
  box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a
 text-decoration none
