*, *:before, *:after
  margin: 0
  padding: 0
  list-style none
  box-sizing: border-box


html
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x hidden



body
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x hidden


a
 text-decoration none
