/**
 * Created by zengwei on 2017/9/5
 */

.home-container
  .main
    padding-top calc(100% - 33.33%)
    position: relative
    .wrapper
      position: absolute
      left: 0
      top: 0
      width 100%
      height 100%
      display flex
      .left
        flex 2
        background-color yellow
      .right
        flex 1
        background-color skyblue

@media (min-width: 1300px)
  .home-container
    .main
      padding-top 800px

